
@font-face {
    font-family: icon;
    src: url(/asset/iconfont.woff2);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    --clr: #991515;
    --tx: #eee;
    --bg: #181818;
    --shadow: #5554;
    margin: 0;
    background-color: var(--bg);
    overflow: hidden;
    color: var(--tx);
    font-family: "Microsoft JhengHei", "Microsoft YaHei", -apple-system, "Segoe UI", Oxygen, Ubuntu, sans-serif;
}

a, .btn {
    margin: 0 2px;
    cursor: pointer;
    color: inherit;
    transition: color 0.1s;
}
a:hover, .btn:hover {
    color: var(--clr);
}

ico {
    font-family: icon;
    user-select: none;
    -webkit-user-select: none;
}

::selection {
    background-color: #555a;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--shadow);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--tx);
}

#enter-anim {
    position: absolute;
    left: 50%; top: 50%; width: 1000px; height: 500px;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    -webkit-mask: url(/asset/enter-anim/bg.png) luminance 0/cover;
    mask: url(/asset/enter-anim/bg.png) luminance 0/cover;
    color: var(--bg);
    -webkit-user-select: none;
    user-select: none;
    animation: fade-in 0.1s;
    font-family: "游明朝";
}

@keyframes enter-anim-circle {
    0%, 50% {
        opacity: 1;
    }
}
#enter-anim > circ, #enter-anim > cont {
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: -380px;
    left: 100px;
    border-radius: 50%;
    background-color: var(--clr);
    opacity: 0.9;
    animation: enter-anim-circle 1.5s;
}
#enter-anim > circ::before {
    content: "";
    position: absolute;
    left: 250px;
    top: 250px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--bg);
}
#enter-anim > circ::after {
    content: "";
    position: absolute;
    left: 180px;
    top: 180px;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--bg);
}

#enter-anim > h2 {
    position: absolute;
    margin: 0;
    left: 300px;
    width: 400px;
    top: 140px;
    line-height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}
#enter-anim > hrr {
    position: absolute;
    left: 300px;
    width: 400px;
    top: 210px;
    height: 1.5px;
    background-color: var(--bg);
}
#enter-anim > hrr::before, #enter-anim > hrr::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: -15px;
    top: -3px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px var(--bg);
}
#enter-anim > hrr::after {
    left: 408px;
}
#enter-anim > en {
    position: absolute;
    left: 300px;
    width: 400px;
    top: 200px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 5px;
}
#enter-anim > deco1, #enter-anim > deco2 {
    position: absolute;
    left: 50px;
    top: -100px;
    height: 320px;
    width: 320px;
    background-color: var(--clr);
}
#enter-anim > deco2 {
    left: 780px;
    top: -40px;
}

@keyframes enter-anim-fan {
    0%,50% {
        stroke-dasharray: 0 10000;
        stroke-dashoffset: -1884;
    }
}
#enter-anim-mask > circle {
    animation: enter-anim-fan 1.5s;
    stroke-width: 800;
    stroke-dasharray: 628 10000;
    stroke-dashoffset: -1570;
    fill: transparent;
    stroke: #000;
}

#enter-anim > cont {
    -webkit-mask: url(#enter-anim-mask) alpha;
    mask: url(#enter-anim-mask) alpha;
    font-size: 100px;
    bottom: -378px;
    background-color: var(--bg);
    color: var(--clr);
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    opacity: 1;
}
#enter-anim > cont > h3, #enter-anim > cont > h4 {
    position: absolute;
    left: 0;
    width: 100%;
    top: 160px;
    margin: 0;
    font-weight: normal;
    letter-spacing: 15px;
}
#enter-anim > cont > h3 > span {
    margin-left: 100px;
}
#enter-anim > cont > h4 {
    top: 200px;
    letter-spacing: 2px;
}
#enter-anim > cont > snb {
    position: absolute;
    left: 370px;
    top: 70px;
    width: 60px;
    height: 120px;
    background-color: var(--clr);
}

body > fullmask {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: var(--bg);
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > div {
    animation: fade-in 0.1s;
}

#home {
    width: 540px;
    height: 500px;
    border-radius: 10px;
    /* box-shadow: 0 0 1px var(--shadow); */
    overflow: hidden auto;
    padding-bottom: 20px;
    background-color: var(--bg);
}
#home > h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 1px;
}
#home > h1 > jp {
    display: block;
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    letter-spacing: 3px;
}

#home > h2 {
    margin: 20px 0 5px 20px;
    font-size: 15px;
    font-weight: normal;
    border-left: 2px solid var(--clr);
    padding-left: 5px;
    color: var(--clr);
    letter-spacing: 2px;
}

#home > p {
    text-align: center;
    margin: 5px;
    white-space: pre-wrap;
    color: var(--shadow);
    font-size: 12px;
}

#home > div {
    margin: 3px 20px;
    border-bottom: 1px solid var(--shadow);
    font-size: 18px;
    line-height: 30px;
    display: flex;
}
#home > div > ico {
    padding: 0 5px;
    display: flex;
    position: relative;
}
#home > div > ico > ext {
    position: absolute;
    top: 0;
    right: 30px;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: right;
    transition: width 0.1s;
    background-color: var(--bg);
}
#home > div > ico:hover > ext {
    width: 150px;
}
#home > div > ico > ext > img {
    display: block;
    width: 150px;
    object-fit: contain;
    border-radius: 5px;
}

#home > div > name {
    width: 100px;
    flex-grow: 1;
}
#home > div > time {
    letter-spacing: 1px;
    width: 100px;
    text-align: right;
    color: var(--shadow);
    font-weight: lighter;
}
#home > bg {
    z-index: -1;
    position: fixed;
    left: 0; top: 0; width: 100vw; height: 100vh;
    background-image: linear-gradient(45deg, var(--bg) 0%, var(--shadow));
}


#tv {
    width: 100%;
}
#tv > video {
    display: block;
    object-fit: contain;
    width: 100%;
}
#tv > ico {
    position: absolute;
    left: 20px; top: 20px;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    width: 40px;
    line-height: 40px;
    color: var(--shadow);
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s;
}
#tv > ico:hover, #tv > panel > header > div:hover {
    color: var(--tx);
    background-color: var(--clr);
}
#tv > panel {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    width: 800px;
    height: 60px;
    transition: left 0.2s, opacity 0.1s;
    background-color: var(--bg);
    border-radius: 10px;
    text-align: center;
    overflow: visible;
}
#tv > panel.hide {
    left: -850px;
    opacity: 0;
}
#tv > panel > header {
    padding: 10px 5px 10px 50px;
    font-size: 12px;
    line-height: 20px;
    width: 70px;
}
#tv > panel > header > div {
    color: var(--shadow);
    transition: color 0.1s, background-color 0.1s;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}
#tv > panel > ls {
    flex-grow: 1;
    display: flex;
    font-size: 15px;
    line-height: 30px;
    padding-right: 10px;
    letter-spacing: 1px;
    user-select: none;
    -webkit-user-select: none;
}

@keyframes tv-panel-fade {
    0% {
        opacity: 0;
        transform: translate(-5px);
    }
}
#tv > panel > ls > div {
    flex-grow: 1;
    margin: 10px 5px;
    padding: 5px 0;
    border-radius: 5px;
    transition: background-color 0.1s;
    cursor: pointer;
    position: relative;
    animation: tv-panel-fade 0.1s;
}
#tv > panel > ls > div:hover, #tv > panel > ls > div.act {
    background-color: var(--clr);
}
#tv > panel > ls > div > info {
    position: absolute;
    left: 0; top: 42px;
    width: 200px;
    height: 0;
    opacity: 0;
    background-color: var(--bg);
    overflow: hidden;
    transition: height 0.1s, opacity 0.1s;
    border-radius: 5px;
    cursor: auto;
}
#tv > panel > ls > div:hover > info {
    height: 160px;
    opacity: 1;
}
#tv > panel > ls > div > info > h4 {
    margin: 10px 30px;
    font-size: 12px;
    line-height: 30px;
    border-bottom: 1px solid var(--clr);
}
#tv > panel > ls > div > info > ss {
    display: block;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 4px;
}
#tv > panel > ls > div > info > p {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    color: var(--shadow);
    font-size: 12px;
}
#tv > panel > ico {
    margin: 10px 5px;
    font-size: 24px;
    line-height: 40px;
    transition: opacity 0.1s;
}
#tv > panel > ico.hide {
    opacity: 0.5;
}
